# Copyright (c) 2025 Aeybel Varghese <aeybelvarghese@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_TM4C123X
	bool
	select SOC_FAMILY_TI_TM4C
	help
	  Enable support for Texas Instruments TM4C123x series SoCs

# ========== SOCS ==========

config SOC_TM4C123GH6PM
	bool
	select SOC_SERIES_TM4C123X

# ========== DEFAULTS ==========

config SOC_SERIES
	default "tm4c123x" if SOC_SERIES_TM4C123X

config SOC
	default "tm4c123gh6pm" if SOC_TM4C123GH6PM
