# Copyright (c) 2025 Aeybel Varghese <aeybelvarghese@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_TI_TM4C
	bool

config SOC_FAMILY
	default "ti_tm4c" if SOC_FAMILY_TI_TM4C

rsource "*/Kconfig.soc"
